#entire-career {
	margin: 0;
	background-color: white;
	padding-left: 16vw;
	padding-right: 16vw;
	padding-top: 5rem;
	padding-bottom: 5rem;
	display: flex;
	align-items: center;
	flex-direction: column;
}

#careers-heading {
	color: #01579b;
	font-size: 0.9rem;
}

#career-paragraph {
	color: #505050;
	margin-top: 3rem;
}

.career-flex {
	display: flex;
	justify-content: space-between;
	margin-top: 5rem;
}
.career-role h2 {
	color: black;
	font-size: 1.25rem;
}

.career-roles {
	font-family: "Rubik", sans-serif;
	font-weight: 500;
	font-size: 0.9rem;
	color: #505050;
	margin-top: 2rem;
}

#below-roles {
	color: #505050;
	font-size: 0.9rem;
	margin-top: 4rem;
}

.career-form {
	width: 30vw;
}

#form-input {
	display: flex;
}

.form-textbox {
	width: 100%;
	height: 3rem;
	border-radius: 5px;
	font-family: "Baloo 2", sans-serif;
	font-size: 0.9rem;
	margin: 0.5rem 0.3rem;
	background-color: #d9d9d980;
	border: 0px;
	color: #505050;
}

#attach-flex {
	display: flex;
	justify-content: space-between;
}
.attach-button {
	color: #505050;
	font-size: 0.8rem;
	width: 100%;
	margin: 0.5rem 0.3rem;
}

.form-attach-button {
	width: 100%;
	height: 3.5rem;
	border-radius: 5px;
	border-color: #01579b;
	background-color: white;
	color: #01579b;
}

.form-apply {
	margin: 3rem 0;
	width: 100%;
	height: 3rem;
	border-radius: 5px;
	background-color: #01579b;
	color: white;
	border: 0px;
	font-family: "Rubik", sans-serif;
	font-size: 0.8rem;
	cursor: pointer;
}

.form-apply:hover {
	background-color: #0288d1;
}

#form-dropdown {
	opacity: 80%;
}

@media (max-width: 768px) {
	.career-flex {
		flex-direction: column;
	}
	.career-form {
		width: 80vw;
	}
	#entire-career {
		padding-top: 3rem;
	}
	#careers-heading {
		font-size: 0.75rem;
	}
	#career-paragraph {
		margin-top: 1rem;
		font-size: 0.8rem;
	}
	.career-flex {
		margin-top: 1rem;
	}
	.career-role h2 {
		font-size: 1rem;
	}
	.career-roles h3 {
		margin-top: 0;
		font-size: 0.8rem;
	}
}
