.header {
	position: fixed;
	left: 5rem;
	top: 1.5rem;
}

.header img {
	max-width: 14rem;
	object-fit: contain;
	height: auto;
}

@media (max-width: 768px) {
	.header img {
		max-width: 11rem;
	}
	.header {
		top: 1rem;
		left: 1rem;
	}
}
